{% extends 'utils/base.html' %}

{% block start %}

<div class="container mx-auto col-6 shadow p-5 mt-5">
       <form method="post" action="{% url 'registration' %}">
        {% csrf_token %}
  <div class="form-group">
    <!--<label for="exampleInputEmail1">Email address</label>-->
    <input type="text" name="first_name" class="form-control mb-3" aria-describedby="emailHelp" placeholder="Enter first name" required>
    <input type="text" name="last_name" class="form-control mb-3" aria-describedby="emailHelp" placeholder="Enter last name" required>
    <input type="text" name="phone_number" class="form-control mb-3" aria-describedby="emailHelp" placeholder="Enter phone number" required>
    <input type="email" name="email" class="form-control mb-3" aria-describedby="emailHelp" placeholder="Enter Email" required>
    <div class="form-group">
    <!--<label for="exampleInputPassword1">Password</label>-->
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form> 
      </div>
      <div class = "signup">
        <p class = "float-right text-muted">If registered,
            <i class="fas fa-user text-muted"data-target="#exampleModal" data-toggle="modal"></i> Login Now
        </p>
      </div>
      
    </div>
  </div>
</div>

{% include 'utils/registration_modal.html' %}

{% endblock %}
