django
django-grappelli
django-admin-interface
django-colorfield
django-debug-toolbar
django-celery-beat
django-elasticsearch-dsl
celery
confluent-kafka
elasticsearch
elasticsearch-dsl
elastic-transport
eventlet
faker
flask
flask-cors
flask-login
gevent
geventhttpclient
kombu
locust
msgpack
numpy
openpyxl
pandas
pika
pillow
psutil
psycopg2
python-dateutil
python-dotenv
python-slugify
python-socketio
redis
requests
sqlparse
tzdata
tzlocal
urllib3
werkzeug
pyzmq
pytest
beautifulsoup4
click
colorama